.homebtn {
    background: #666766;
    color: white;
    font-weight: bold
}

.homebtn:hover {
    background: #313231;
}

.backbtn {
    background: #dee1e1;
    color: black;
    font-weight: bold
}

.backbtn:hover {
    background: #a1a4a4;
}


.part1 {
    animation: rotateAnimation3 13s linear infinite;
    transform-origin: center;
}

@keyframes rotateAnimation3 {
    0% {
      transform: rotate(0deg);
    }
  
    25% {
      transform: rotate(5deg);
    }
    50% {
      transform: rotate(0deg);
    }
  
    75% {
      transform: rotate(5deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }